@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');

body {
	margin: 0;
}

.name {
	font-family: 'Fira Sans';
	font-size: 50px;
}

.top {
	width: 100%;
	height: 550px;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.bottom {
	width: 100%;
	height: 272px;
	margin: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.topitems {
	width: 50%;
	height: 70px;
	font-family: 'Fira Sans';
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.bottomitems {
	width: 48%;
	height: 272px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.bottomcenteritem {
	width: 50%;
	height: 45%;
	font-family: 'Fira Sans';
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.pages {
	width: 30%;
	height: 50px;
	font-family: 'Fira Sans';
	font-size: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}
.bottomcenteritemlink {
	width: 30%;
	height: 50px;
	font-family: 'Fira Sans';
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

/* about page */
.aboutmain {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
}
.leftside {
	width: 35%;
	height: 722px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: space;
}
.favorite-projects {
	width: 100%;
	height: 45%;
	font-family: 'Fira Sans';
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.rightside {
	width: 65%;
	height: 722px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.biography {
	width: 70%;
	height: 30%;
	font-family: 'Fira Sans';
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.overlay1 {
	position: inherit;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: 0.5s ease;
	background-color: #008cba;
}

.overlay2 {
	position: inherit;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: 0.5s ease;
	background-color: #008cba;
}

.fave1:hover .overlay1 {
	opacity: 1;
}

.fave2:hover .overlay2 {
	opacity: 1;
}

.fave1 {
	width: 100%;
	height: 100%;
	background-image: url('/img/WhatsApp\ Image\ 2020-03-02\ at\ 11.23.12\ PM.jpeg');
	background-size: cover;
	background-position: center;
}

.fave2 {
	width: 100%;
	height: 100%;
	background-image: url('/img/WhatsApp\ Image\ 2020-03-02\ at\ 5.51.30\ PM.jpeg');
	background-size: cover;
	background-position: center;
}

.favetext2 {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

/* past projects */
.mainpast {
	height: 722px;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.pastleft {
	width: 140px;
	height: 70%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.projectlist {
	width: 100%;
	height: 100%;
	margin: 20px;
	font-family: 'Fira Sans';
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.projectscreenshots {
	width: 30%;
	height: 40%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.tabs {
	width: 10%;
	height: 70%;
	margin: 20px;
	font-family: 'Fira Sans';
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-end;
}

/* hire me */
.hire-me-main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.top-hire-me {
	width: 100%;
	height: 150px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-end;
}

.talktome {
	width: 30%;
	height: 100px;
	font-family: 'Fira Sans';
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.skills {
	width: 40%;
	height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.rateandcontact {
	width: 40%;
	height: 100%;
	font-family: 'Fira Sans';
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* current project */

.maincurrent {
	width: 100%;
	height: 722px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.topcurrent {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.bottomcurrent {
	width: 100%;
	height: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.tabscurrent {
	width: 50%;
	height: 20%;
	font-family: 'Fira Sans';
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.toptop {
	width: 30%;
	height: 15%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.t {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
}

.description {
	font-family: 'Fira Sans';
}
.paragraphdiv {
	width: 70%;
	height: 100%;
}
