body {
	margin: 0;
}
.top {
	background-color: aqua;
	width: 100%;
	height: 450px;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.bottom {
	background-color: blueviolet;
	width: 100%;
	height: 272px;
	margin: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.topitems {
	background-color: bisque;
	width: 50%;
	height: 70px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.bottomitems {
	background-color: #b96464;
	width: 48%;
	height: 272px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.bottomcenteritem {
	background-color: #5884c5;
	width: 50%;
	height: 45%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.pages {
	background-color: #58c589;
	width: 30%;
	height: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}
.bottomcenteritemlink {
	background-color: #7958c5;
	width: 30%;
	height: 50px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

/* about page */
.aboutmain {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
}
.leftside {
	background-color: #58c57c;
	width: 35%;
	height: 722px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: space;
}
.favorite-projects {
	background-color: #5b37ad;
	width: 100%;
	height: 45%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.rightside {
	background-color: #1a97e0;
	width: 65%;
	height: 722px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.biography {
	background-color: #e07a1a;
	width: 70%;
	height: 30%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* past projects */
.mainpast {
	background-color: antiquewhite;
	height: 722px;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.pastleft {
	width: 140px;
	height: 70%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.projectlist {
	background-color: #c754ae;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.projectscreenshots {
	background-color: #794f86;
	width: 30%;
	height: 40%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.tabs {
	background-color: #5884c5;
	width: 10%;
	height: 70%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

/* hire me */
.hire-me-main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.top-hire-me {
	background-color: #1a97e0;
	width: 100%;
	height: 150px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-end;
}

.talktome {
	background-color: #b96464;
	width: 30%;
	height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.skills {
	background-color: #7958c5;
	width: 40%;
	height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.rateandcontact {
	background-color: #e07a1a;
	width: 40%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* current project */

.topcurrent {
	background-color: #0b816e;
	width: 100%;
	height: 300px;
}
